$light-grey: #dfe0dc;
$primary: #3b7080;

.bg-light-grey {
  background-color: $light-grey;
}

.modal-light-grey {
  background-color: $light-grey;
}

.btn-primary {
  background-color: $primary;
  border-color: $primary;
}

.btn-primary:hover {
  background-color: $primary;
  border-color: $primary;
  opacity: 0.8;
}
